# Виртуальное окружение
venv/
env/
.venv/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Кэш pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo

# ОС
.DS_Store
Thumbs.db